@font-face {
	font-family: 'PTSans-Narrow';
	src: url('fonts/PTSans-Narrow.woff') format('woff'),
	url('fonts/PTSans-Narrow.ttf') format('truetype'),
	url('fonts/PTSans-Narrow.svg#PTSans-Narrow') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT_Sans-Narrow-Web-Regular';
	src: url('fonts/PT_Sans-Narrow-Web-Regular.eot');
	src: url('fonts/PT_Sans-Narrow-Web-Regular.woff2') format('woff2'),
	url('fonts/PT_Sans-Narrow-Web-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
.port img{
	margin-left: 0.5em;
}
body {
	font-family: 'PT Sans Narrow', sans-serif;
	width: auto;
	height: auto;
	margin: 0 auto;
	background-color: #f5f5dc;
}

.logo {
	padding: 5px;
}
.logo:hover {
	box-shadow: 1px 1px 1px black;
	transition: .5s ease;
}

.navbar {
	background-image: url('../res/tomate/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	width: auto;
	box-shadow: 1px 1px 1px black;
}

nav {
	width: 100%;
	display: block;
	margin: auto;
}

.acc2, .acc3 {
	width: 50%;
	box-shadow: 1px 1px 10px black;
	margin-top: 110px;
}

.acc2:hover, .acc3:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	transition: .5s ease;
	border-radius: 5px;
}

.img {
	display: block;
	margin: 0 auto;
	width: 65%;
	height: 250px;
}

h6 {
	margin-top: 20px;
	font-size: 100%;
}

h2 {
	text-shadow: 1px 2px 2px black;
	font-size: 150%;
	letter-spacing: 1px;
	color: white;
}
h2:hover {
	margin-bottom: 20px;
	transition: .5s ease;
}

.footer-basic-centered{
	background-image: url('../res/tomate/background.jpg');
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	height: auto;
	width: auto;
	text-align: center;
	color: white;
	font-size: 200%;
	/*margin-top: 85px;*/
}

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}
}